<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" @click.prevent="requestLogout">Logout</a>
        </li>
      </ul>
    </nav>

    <div class="row mt-5">

      <i class="fa fa-spin fa-refresh mx-auto" style="font-size:5rem" v-if="loading"></i>  
      
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3" v-for="restaurant in resaurants" :key="restaurant.id" v-else>
        <restaurant-card :restaurant="restaurant"></restaurant-card>
      </div>

    </div>

    <div class="row" v-if="!loading">
      <div class="col">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>
	
<script>
import {mapGetters, mapMutations} from 'vuex'
import RestaurantCard from '../components/RestaurantCard.vue'

export default {
  name: 'home-page',
  
  
	components: {
		RestaurantCard
  },
  


	mounted() {
    /**
     * redirect to login page if app credentials undefined else request restaurants
     */
		if (this.hasAppData)
      this.getRestaurantList()
    else
      this.$router.replace({name:'login'})
  },



	data() {
		return {
      endpoint: "https://multivendor.dev.api.unoapp.io/api/app/locations/all",
      logout_endpoint: "https://multivendor.dev.api.unoapp.io/api/application/admin/logout",
			resaurants: undefined,
      loading: false
		}
  },



  computed: {
    ...mapGetters([
      'hasAppData',
      'appAuthHeaders'
    ]),

    requestHeaders: function() {
      return {
        headers: this.appAuthHeaders
      }
    }
  },

  watch: {
    hasAppData: function(to, from) {
      if (to === false)
        this.$router.replace({name:'login'})
    }
  },

	methods: {
    ...mapMutations([
      'clearAppData',
    ]),

    /**
     * request resaurants endpoint
     */
		getRestaurantList: function() {
      this.loading = true
      
			let data = {
				rpp: 10,
				paginate: true,
				brand_id: 25
			}
      
			this.$http.post(this.endpoint, data, this.requestHeaders)
			.then(response=>{
        this.error = this.loading = false
				this.resaurants = response.data.payload.data
			})
			.catch(error=>{
        this.loading = false
        this.error = true
			})
    },
    
    /**
     * request logout
     */
    requestLogout: function() {
      this.loading = true
      this.$http.get(this.logout_endpoint, this.requestHeaders)
      .then(response=>{
        this.loading = false
        this.clearAppData()
      })
      .catch(error=>{
        this.loading = false
      })
    }
  },
}
</script>
