<template>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-8 col-sm-10">
        <transition name="fade">
          <div class="card" v-show="isMounted">
            <div class="card-body">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control shadow-sm" name="email" id="email" value="arun+icecream@unoapp.com" :disabled="isRequesting" @keypress.enter="requestLogin">
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control shadow-sm" value="unoapp" :disabled="isRequesting" @keypress.enter="requestLogin">
              </div>

              <button class="btn btn-primary shadow-sm" @click="requestLogin" :disabled="isRequesting">Submit</button>
            </div>
          </div>
        </transition>
      </div>
    </div>
</template>

<script>
import {mapMutations, mapGetters} from 'vuex'


export default {
  name: 'login-page',
  
  mounted() {
    if (this.hasAppData)
      this.$router.replace('/restaurants')
    
    this.isMounted = true;
  },

  data() {
    return {
      endpoint: "https://multivendor.dev.api.unoapp.io/api/application/admin/login",
      isRequesting: false,
      isMounted: false,
    }
  },

  computed: {
    ...mapGetters([
      'hasAppData'
    ])
  },

  methods: {
    ...mapMutations([
      'setAppData',
    ]),


    /**
     * make request to login endpoint,
     * 
     * if login success:
     *    saves app credentials to store and push state to HomePage
     * */
    requestLogin: function() {
      this.isRequesting = true;

      let data = {
        user_name: $("#email").val(),
        password: $("#password").val(),
      };

      
      this.$http.post(this.endpoint, data)
      .then(response=>{
        this.isRequesting = false;
        let data = response.data;

        let app_data = {
            authToken: data.session.token,
            appId: data.App.app_id,
            appSecret: data.App.app_secret,
        };

        this.setAppData(app_data)
        this.$router.push({name: 'home'})
      })
      .catch(error=>{
        this.isRequesting = false;
      });
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
    transition: all .2s;
  }
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}
</style>
