<template>
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4" v-for="item in menuCategoryItems" :key="item.id">
      <div class="card">
        <img :src="item.image_url" :alt="item.name" class="card-img-top">
        <div class="card-body">
          <h6 class="card-title">{{item.name}}</h6>
          <small class="card-subtitle text-primary">$ {{item.price}}</small>
          <p class="card-text lead">{{item.desc}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "menu-widget-category-panes",

  computed: {
    categoryId: function() {
      return this.$route.params.category_id
    },

    ...mapGetters([
      'menuCategories'
    ]),

    menuCategoryItems: function() {
      if (this.menuCategories !== undefined) {
        
        let categoryMenu = this.menuCategories.find(category => {
          return category.id === this.categoryId
        })
        
        return categoryMenu.categories[0].items
      }
    }
  },


}
</script>

<style>

</style>
