<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{restaurant.display_name}}</h5>
      <h6 class="card-subtitle text-muted">{{restaurant.slug}} <i>(id:{{restaurant.id}})</i></h6>

      <p class="card-text mt-3 bg-light">
        {{restaurant.address_line_1}}<br>
        {{restaurant.address_line_2}}<br>
        {{restaurant.city}}, {{restaurant.province}}<br>
        {{restaurant.country}} {{restaurant.postal_code}}
      </p>

      <a href="#" class="card-link" @click.prevent="loadRestaurantMenu">Menu</a>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'restaurant-card',
    props: ['restaurant'],

    methods: {
      loadRestaurantMenu: function() {
        let restaurant_id = this.restaurant.id

        // if menu not already rendered
        if (this.$route.params.restaurant_id !== restaurant_id)
          this.$router.push({name:'restaurant-menu', params: {restaurant_id: restaurant_id}})
      }
    }
  }
</script>

<style>

</style>
